<html>

<head>
    <title>Random Album Art Generator | marciodesousa</title>
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content=" rgb({{background.majorColor}})">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content=" rgb({{background.majorColor}})">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content=" rgb({{background.majorColor}})">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Luckiest+Guy&family=Arima+Madurai:wght@300&family=Bangers&family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    
    <link href="dist/style.css" rel="stylesheet">
    <script>
        const palette = JSON.parse("{{background.paletteArray}}")
        const majorColor = "{{background.majorColor}}";
    </script>
    <style>
         :root {
            --accent-color: rgb({{background.palette.color2}});
        }
    </style>
</head>

<body {{#isCoverImageDark}}class="page--dark" {{/isCoverImageDark}}>
    <div class="page__background" style="background-image: url({{background.url}});"></div>

    <div class="page__wrapper">
        <div class="page__header">
            <div class="header info-text"><span>Random Album Art Generator</span></div>
            <div class="description info-text"><span><a href="{{title.originUrl}}" target="_blank">{{title.text}}</a> by <a href="{{artist.originUrl}}" target="_blank">{{artist.text}}</a></span></div>
        </div>
        <div id="my-node" class="cover__wrapper">
            <div class="cover__background {{background.classes}}" style="background-image: url({{background.url}});"></div>
            <main class="cover__content {{#parentSupervision}}cover__content--parental{{/parentSupervision}}">
                <div class="cover__artist {{artist.classes}}">{{artist.text}}</div>
                <div class="cover__title {{title.classes}}">{{title.text}}</div>
                <img class="cover__parental" src="Parental_Advisory_label.svg">
            </main>
            <div class="cover__overlay"></div>
            <div class="record-container">
                <div class="record"></div>
            </div>
        </div>
        {{! <button id="buttonToClick">Download</button> }}
        <div class="page__footer info-text">
            <span>made with ♥️ by <a href="http://marciodesousa.xyz" target="_blank">Márcio de Sousa</a>, 2020</span>
        </div>
    </div>
    <script>
    </script>
</body>
<script src="dist/App.bundle.js"></script>
</html>