<html>
<head>
    <title>Random Album Art Generator | marciodesousa</title>
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content=" rgb({{background.majorColor}})">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content=" rgb({{background.majorColor}})">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content=" rgb({{background.majorColor}})">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Arima+Madurai:wght@300&family=Bangers&family=Open+Sans&family=Roboto&family=Quicksand&family=Fruktur&family=Monoton&family=Allan&family=Megrim&family=Bungee&family=BioRhyme:wght@300&display=swap" rel="stylesheet">

    <link href="dist/style.css" rel="stylesheet">
    <style>
         :root {
            --accent-color: rgb({{background.palette.color1}});
            --accent-color2: rgb({{background.palette.color2}});
            --accent-color3: rgb({{background.palette.color3}});
        }
    </style>
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">

    <meta name="theme-color" content="#ffffff">
</head>

<body {{#isCoverImageDark}}class="page--dark" {{/isCoverImageDark}}>
    <div class="page__background" style="background-image: url({{background.url}});"></div>
    <div class="page__styles">
        <div class="style__category">
            <h3 class="title">Artist</h3> 
            <div class="artist_variations__wrapper">
            </div>
        </div>

        <div class="style__category">
            <h3 class="title">Title</h3> 
            <div class="title_variations__wrapper">
            </div>
        </div>

    </div>
    <div class="page__wrapper">
        <div class="actions__wrapper">
                <div class="btn" id="download" title="Download your album art"><span>📥</span></div>
                <div class="btn" id="refresh" title="Refresh"><span>🔄</span></div>
                <div class="btn" id="tweak" title="Tweak your album art"><span>☢️</span></div>
                <div class="btn" id="dump" title="Dump Config"><span>🔄</span></div>
        </div>
        <div class="page__header">
            <div class="header__wrapper">
                <div class="header info-text"><span>Random Album Art Generator</span></div>
            </div>
            <div class="description info-text"><span><a href="{{title.originUrl}}" target="_blank">{{title.text}}</a> by <a href="{{artist.originUrl}}" target="_blank">{{artist.text}}</a> | <a href="{{background.originUrl}}" target="_blank">picture credit</a></span></div>

        </div>
        <div class="content__wrapper">
            <div class="cover__wrapper">
                <img class="cover__background {{background.classes}}" src="{{background.url}}" />
                <main class="cover__content {{#parentSupervision}}cover__content--parental{{/parentSupervision}}">
                    <div class="cover__artist {{artist.classes}}">{{artist.text}}</div>
                    <div class="cover__title {{title.classes}}">{{title.text}}</div>
                    <img class="cover__parental" src="Parental_Advisory_label.svg">
                </main>
                <div class="cover__overlay"></div>
            </div>
            <div class="cover__shadow__wrapper">
                <div class="cover__shadow--back"></div>
                <div class="cover__shadow--close"></div>
            </div>
            <div class="record__wrapper">
                <div class="record__shadow"></div>
                <div class="record"></div>
            </div>
        </div>
        <div class="page__footer info-text">
            <span>made with ♥️ by <a href="http://marciodesousa.xyz" target="_blank">Márcio de Sousa</a>, 2020</span>
            {{!-- <span>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></span> --}}
        </div>
    </div>
    <script>
    </script>
</body>
<script src="dist/App.bundle.js"></script>

</html>