<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Luckiest+Guy&family=Arima+Madurai:wght@300&family=Bangers&display=swap" rel="stylesheet">
    <link href="http://localhost/main.css" rel="stylesheet">
</head>

<body>
    <div class="header">
        <H1>Random Album Art Generator!</H1>
        <h3>{{title.text}} by {{artist.text}}</h3>
    </div>
    <div class="wrapper">
        <div class="background {{background.classes}}" style="background-image: url({{background.url}});"></div>
        <main class="content {{#parentSupervision}}needs-parental{{/parentSupervision}}">

            <p class="artist {{artist.classes}}">{{artist.text}}</p>

            <p class="title {{title.classes}}">{{title.text}}</p>

            <img class="parental-adv" src="http://localhost/Parental_Advisory_label.svg" />

        </main>
        <div class='record-container'>
            <div class='record'></div>
        </div>
    </div>
    <div class="footer">
        made with ♥️ by <a href="http://marciodesousa.xyz">Márcio de Sousa</a>
    </div>
</body>

</html>