body {
    display: flex;
    background-color: black;
    margin: auto;
    width: 100%;
    height: 100%;
}

a {
    color: var(--accent-color);
}

.page__background {
    position: relative;
    z-index: -1;
    margin: auto;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(25px) brightness(0.8);
    /* filter: blur(50px) brightness(1.5); */
}


/* .page--dark .page__background {
    filter: blur(75px) brightness(0.6);
} */

body.page--dark {
    /* background-color: white; */
    color: white;
}

.page__wrapper {
    z-index: 0;
    display: grid;
    margin: auto;
    width: 100%;
    height: 100%;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 30px auto 30px;
    position: absolute;
}

.page__header {
    grid-column: 1/ span 3;
    grid-row: 1;
    margin: auto;
}

.page__footer {
    grid-column: 1/ span 3;
    grid-row: 3;
    margin: auto;
}

.cover__wrapper {
    grid-column: 2;
    grid-row: 2;
    margin: auto;
    width: 975px;
    height: 750px;
    display: flex;
}

.cover__content {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
    width: 750px;
    height: 750px;
    z-index: 2;
}

.cover__background {
    width: 750px;
    height: 750px;
    position: relative;
    box-shadow: 16px 1px 26px -9px #000000;
}

.cover__overlay {
    position: absolute;
    background-image: url(overlay.png);
    width: 750px;
    height: 750px;
    z-index: 3;
    mix-blend-mode: overlay;
    filter: opacity(0.3);
}

.record-container {
    z-index: -1;
    left: 44%;
    display: inline-block;
    overflow: hidden;
    width: 750px;
    height: 750px;
    border-radius: 10px;
    position: absolute;
}

.record {
    position: relative;
    width: 750px;
    height: 750px;
    border-radius: 50%;
    background: linear-gradient(30deg, transparent 40%, rgba(42, 41, 40, .85) 40%) no-repeat 100% 0, linear-gradient(60deg, rgba(42, 41, 40, .85) 60%, transparent 60%) no-repeat 0 100%, repeating-radial-gradient(#2a2928, #2a2928 4px, #ada9a0 5px, #2a2928 6px);
    background-size: 50% 100%, 100% 50%, 100% 100%;
}

.record:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -85px;
    border: solid 1px #d9a388;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--accent-color), inset 0 0 0 82px var(--accent-color);
    background: #b5ac9a;
    content: '';
}

.font--lucky {
    font-family: 'Luckiest Guy', cursive;
}

.font--edgy {
    font-family: 'Bangers', cursive;
}

.font--cursive {
    font-family: 'Pacifico', cursive;
}

.fond--classic {
    font-family: 'Arima Madurai', cursive;
}

.case--upper {
    text-transform: uppercase;
}

.case--lower {
    text-transform: lowercase;
}

.case--capitalize {
    text-transform: capitalize;
}

.case--camel::first-letter {
    text-transform: uppercase;
}

.case--camel {
    text-transform: lowercase;
}

.style--bold {
    font-weight: bold;
}

.style--italic {
    font-style: italic;
}

.style--underline {
    text-decoration: underline;
}

.style--overline {
    text-decoration: overline;
}

.style--strikethrough {
    text-decoration: line-through;
}

.background--bnw {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.background--high-contrast {
    -webkit-filter: contrast(4);
    filter: contrast(4);
}

.background--low-contrast {
    -webkit-filter: contrast(20%);
    filter: contrast(20%);
}

.background--sepia {
    -webkit-filter: sepia(1);
    filter: sepia(1);
}

.background--low-brightness {
    -webkit-filter: brightness(20%);
    filter: brightness(20%);
}

.background--high-brightness {
    -webkit-filter: brightness(3);
    filter: brightness(3);
}

.background--hue-variation {
    filter: hue-rotate(30deg);
}

.cover__artist {
    grid-column: 1 / span 4;
    grid-row: 1;
    padding: 10px;
    z-index: 99;
    font-size: 30px;
}

.cover__title {
    grid-column: 2 / span 3;
    grid-row: 2;
    padding: 10px;
    z-index: 99;
    font-size: 20px;
}

.cover__parental {
    padding: 10px;
    display: none;
    grid-column: 5;
    grid-row: 5;
}

.cover__content--parental .cover__parental {
    display: initial;
}