$coverDimension: 750px;
body {
    display: flex;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    width: 100%;
    height: 100%;
}

.page__styles {
    color: black;
    width: 0px;
    height: 100vh;
    position: fixed;
    background-color: white;
    transition: width 200ms ease;
    overflow-y: auto;
    visibility: hidden;
}

.page__styles.opened {
    width: 195px;
    z-index: 999;
    transition: width 200ms ease;
    visibility: visible;
}

.info-text {
    justify-self: center;
    & span {
        background-color: rgba(255, 255, 255, 0.3);
        padding: 5px;
        line-height: 2
    }
}

.btn {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 27px;
    font-size: x-large;
    display: flex;
    cursor: pointer;
    &:hover {
        background-color: rgba(255, 255, 255, 0.9);
    }
    * {
        margin: auto;
    }
}

.header__wrapper {
    display: inline-flex;
}

.header {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: 600;
    margin: 0 15 0 15;
}

.description {
    margin: -8px;
    font-size: 1.2em;
    text-align: center;
}

a {
    color: var(--accent-color2);
    &:hover {
        color: var(--accent-color2);
    }
}

.page__background {
    position: relative;
    z-index: -1;
    margin: auto;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(25px) brightness(0.8);
    /* filter: blur(50px) brightness(1.5); */
}


/* .page--dark .page__background {
filter: blur(75px) brightness(0.6);
} */

body.page--dark {
    /* background-color: white; */
    color: white;
    .info-text {
        & span {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    .btn {
        background-color: rgba(0, 0, 0, 0.5);
        &:hover {
            background-color: rgba(0, 0, 0, 0.9);
        }
    }
}

.page__wrapper {
    z-index: 0;
    display: grid;
    margin: auto;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto 40px;
    position: absolute;
}

.page__header {
    grid-row: 1;
    grid-column: 1;
    margin: auto;
}

.actions__wrapper {
    // display: none;
}

.page__footer {
    grid-column: 1;
    grid-row: 3;
    margin: auto;
    margin-top: 0px;
}

.content__wrapper {
    margin: auto;
    width: $coverDimension;
    height: $coverDimension;
    display: flex;
    grid-column: 1;
    grid-row: 2;
    transition: transform .5s ease-in-out;
    will-change: transform;
    &.opened {
        transform: translateX(-$coverDimension/4);
        .record-container {
            transform: translateX(375px);
        }
        .record {
            transform: rotate(0deg);
        }
    }
}

.cover__wrapper {
    filter: blur(0.6px);
    width: $coverDimension;
    height: $coverDimension;
    display: flex;
}

.cover__content {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
    width: $coverDimension;
    height: $coverDimension;
    z-index: 2;
}

.cover__background {
    width: $coverDimension;
    height: $coverDimension;
    border-radius: 5px;
    position: relative;
    box-shadow: inset 0px 3px 2px 0px rgba(255, 255, 255, 0.2), inset 0px -2px 5px 3px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.cover__shadow {
    &s {
        width: $coverDimension;
        height: $coverDimension;
        position: absolute;
    }
    &--close {
        width: $coverDimension;
        left: -3px;
        position: absolute;
        z-index: -999999;
        border: 5px solid rgba(0, 0, 0, 0.7);
        border-bottom-width: 0px;
        border-radius: 16px;
        filter: blur(3px);
        bottom: -3px;
    }
    &--back {
        width: 95%;
        left: -149px;
        position: absolute;
        z-index: -999999;
        border: 150px solid rgba(0, 0, 0, 0.3);
        border-bottom-width: 0px;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        filter: blur(14px);
        bottom: 0;
    }
}

.cover__overlay {
    position: absolute;
    background-size: cover;
    background-image: url("overlay.png");
    border-radius: 5px;
    width: $coverDimension;
    height: $coverDimension;
    z-index: 3;
    // mix-blend-mode: screen;
    // filter: opacity(0.8);
}

.record-container {
    will-change: transform;
    z-index: -1;
    margin-top: 10px;
    display: inline-block;
    overflow: hidden;
    width: 800px;
    height: 760px;
    border-radius: 10px;
    position: absolute;
    // box-shadow: -55px 15px 14px -8px rgba(0, 0, 0, 0.5);
    padding-bottom: 8px;
    transition: transform .5s ease-in-out;
}

.record {
    position: relative;
    width: 730px;
    height: 730px;
    background-image: url(vinyl.png);
    background-repeat: no-repeat;
    transform: rotate(-120deg);
    transition: transform .5s ease-in-out;
}

.record:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -127px;
    border: solid 5px var(--accent-color);
    width: 245px;
    height: 245px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--accent-color2), inset 0 0 0 94px var(--accent-color2);
    background: var(--accent-color3);
    content: '';
}

.record__shadow {
    position: absolute;
    width: 672px;
    height: 215px;
    background-image: url(backdrop.png);
    content: '';
    bottom: 6px;
    right: -170px;
}

.position {
    &-x {
        &--start {
            align-self: end;
            grid-column: 1/span 10;
            justify-self: start;
        }
        &--center {
            align-self: end;
            grid-column: 1/span 10;
            justify-self: center;
        }
        &--end {
            align-self: end;
            grid-column: 1/span 10;
            justify-self: end;
        }
    }
    &-y {
        &--start {
            grid-row: 2;
            &.cover__title {
                grid-row: 3;
            }
        }
        &--center {
            grid-row: 4;
            &.cover__title {
                grid-row: 5;
            }
        }
        &--end {
            grid-row: 7;
            &.cover__title {
                grid-row: 8;
            }
        }
    }
}

.font {
    &--lucky {
        font-family: 'Luckiest Guy', cursive;
    }
    &--edgy {
        font-family: 'Bangers', cursive;
    }
    &--cursive {
        font-family: 'Pacifico', cursive;
    }
    &--classic {
        font-family: 'Arima Madurai', cursive;
    }
}

.size--large {
    &.cover__title {
        font-size: 3em;
    }
    &.cover__artist {
        font-size: 5em;
    }
}

.size--small {
    &.cover__title {
        font-size: 2em;
    }
    &.cover__artist {
        font-size: 2em;
    }
}

.case {
    &--upper {
        text-transform: uppercase;
    }
    &--lower {
        text-transform: lowercase;
    }
    &--capitalize {
        text-transform: capitalize;
    }
    &--camel::first-letter {
        text-transform: uppercase;
    }
    &--camel {
        text-transform: lowercase;
    }
}

.format {
    &--bold {
        font-weight: bold;
    }
    &--italic {
        font-style: italic;
    }
    &--underline {
        text-decoration: underline;
    }
    &--overline {
        text-decoration: overline;
    }
    &--strikethrough {
        text-decoration: line-through;
    }
}

.spacing {
    &--spaced {
        letter-spacing: 0.2em;
    }
    &--close {
        letter-spacing: -0.1em;
    }
}

.style {
    &--glowing {
        color: #FFFFFF;
        text-shadow: 0 0 10px #FFFFFF;
    }
    &--deep {
        color: #e0dfdc;
        letter-spacing: .1em;
        text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
    }
    &--news {
        color: #333333;
        text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15);
    }
    &--hero {
        color: #FFFFFF;
        text-shadow: -5px 5px 0px var(--accent-color2), -10px 10px 0px var(--accent-color2), -15px 15px 0px var(--accent-color2);
    }
    &--outline {
        color: #FFFFFF;
        text-shadow: 2px 2px 0 var(--accent-color2), 2px -2px 0 var(--accent-color2), -2px 2px 0var(--accent-color2), -2px -2px 0 var(--accent-color2), 2px 0px 0 var(--accent-color2), 0px 2px 0 var(--accent-color2), -2px 0px 0 var(--accent-color2), 0px -2px 0 var(--accent-color2);
    }
}

.background {
    &--bnw {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }
    &--high-contrast {
        -webkit-filter: contrast(4);
        filter: contrast(4);
    }
    &--low-contrast {
        -webkit-filter: contrast(20%);
        filter: contrast(20%);
    }
    &--sepia {
        -webkit-filter: sepia(1);
        filter: sepia(1);
    }
    &--low-brightness {
        -webkit-filter: brightness(20%);
        filter: brightness(20%);
    }
    &--high-brightness {
        -webkit-filter: brightness(3);
        filter: brightness(3);
    }
    &--hue-variation {
        filter: hue-rotate(30deg);
    }
}

$grid-sizes: 1,
2,
3,
4,
5,
6,
7,
8,
9,
10;
@each $grid-size in $grid-sizes {
    .grid-row-#{$grid-size} {
        grid-row: $grid-size;
    }
    .grid-column-#{$grid-size} {
        grid-column: $grid-size / span 11-$grid-size;
    }
}

.cover__artist {
    padding: 10px;
    z-index: 99;
    font-size: 3em
}

.cover__title {
    padding: 10px;
    z-index: 99;
    font-size: 2em;
    align-self: start;
}

.cover__parental {
    padding: 20px;
    display: none;
    align-self: end;
    justify-self: end;
    grid-row: 8 / span 3;
    grid-column: 7 / span 4;
}

.cover__content--parental .cover__parental {
    display: initial;
}


/* Portrait and Landscadgdfpe */

@media only screen and (max-device-width: 750px) {
    .page__wrapper {
        grid-template-rows: 60px auto 80px;
    }
    .header {
        font-size: 4em;
    }
    .description {
        font-size: 2em;
    }
    .cover__wrapper {
        width: 750px;
    }
    .record-container {
        display: none;
    }
    .page__footer {
        font-size: 2.5em;
    }
}