body {
    display: grid;
    margin: auto;
    width: 100%;
    height: 100%;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 30px auto 30px;
}

.wrapper {
    grid-column: 2;
    grid-row: 2;
    margin: auto;
    width: 750px;
    height: 750px;
    display: flex;
}

main {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
    width: 750px;
    height: 750px;
}

.background {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 16px 1px 26px -9px #000000;
}

.record-container {
    z-index: -1;
    left: 50%;
    display: inline-block;
    overflow: hidden;
    width: 750px;
    height: 750px;
    border-radius: 10px;
    position: absolute;
}

.record {
    position: relative;
    width: 750px;
    height: 750px;
    border-radius: 50%;
    background: linear-gradient(30deg, transparent 40%, rgba(42, 41, 40, .85) 40%) no-repeat 100% 0, linear-gradient(60deg, rgba(42, 41, 40, .85) 60%, transparent 60%) no-repeat 0 100%, repeating-radial-gradient(#2a2928, #2a2928 4px, #ada9a0 5px, #2a2928 6px);
    background-size: 50% 100%, 100% 50%, 100% 100%;
}

.record:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -85px;
    border: solid 1px #d9a388;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #da5b33, inset 0 0 0 82px #da5b33;
    background: #b5ac9a;
    content: '';
}

.font--lucky {
    font-family: 'Luckiest Guy', cursive;
}

.font--edgy {
    font-family: 'Bangers', cursive;
}

.font--cursive {
    font-family: 'Pacifico', cursive;
}

.fond--classic {
    font-family: 'Arima Madurai', cursive;
}

.case--upper {
    text-transform: uppercase;
}

.case--lower {
    text-transform: lowercase;
}

.case--capitalize {
    text-transform: capitalize;
}

.case--camel::first-letter {
    text-transform: uppercase;
}

.case--camel {
    text-transform: lowercase;
}

.style--bold {
    font-weight: bold;
}

.style--italic {
    font-style: italic;
}

.style--underline {
    text-decoration: underline;
}

.style--overline {
    text-decoration: overline;
}

.style--strikethrough {
    text-decoration: line-through;
}

.artist {
    grid-column: 1 / span 4;
    grid-row: 1;
    padding: 10px;
    z-index: 99;
    font-size: 30px;
}

.title {
    grid-column: 2 / span 3;
    grid-row: 2;
    padding: 10px;
    z-index: 99;
    font-size: 20px;
}

img {
    padding: 10px;
    grid-column: 5;
    grid-row: 5;
}